.title {
    color: grey;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.boxAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input {
    width: 20%;
    height: 50px;
    border: 1px solid #ddd;
    padding-left: 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input:focus {
    outline: 1px solid #39d139;
}

.btnAddNew,
.btnDelete,
.btnEdit {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btnAddNew {
    background-color: #fff;
    color: #6A994E;
    border: 1px solid #6A994E;
}

.btnAddNew:hover {
    background-color: #6A994E;
    color: #fff;
}

.btnDelete {
    background-color: #fff;
    color: #BC4749;
    border: 1px solid #BC4749;
}

.btnDelete:hover {
    background-color: #BC4749;
    color: #fff;
}

.btnEdit {
    margin-left: 10px !important;
    background-color: #fff;
    color: #FCA311;
    border: 1px solid #FCA311;
}

.btnEdit:hover {
    background-color: #FCA311;
    color: #fff;
}

.activeBooked,
.activeCheckin,
.activeCheckout {
    display: inline-block;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}

.activeBooked {
    background-color: #F69685;
    color: #000000;
}

.activeCheckin {
    background-color: #39d139;
    color: #000000;
}

.activeCheckout {
    background-color: #D3D0F2;
    color: #000000;
}